build/
bin/
libs/
.vscode
imgui.ini
.DS_Store
.vs
*.zip
*/.slangtorch_cache/*
/Framework3D/source/RHI/source/nvrtc_config.h
/Framework3D/source/Core/RHI/source/nvrtc_config.h
/Framework3D/source/nodes/nodes/functions/NODES_FILES_DIR.h
/Framework3D/Assets
/Framework3D/source/Runtime/renderer/nodes/shaders/shaders/.slangtorch_cache/physical_lens_raygen_torch/b9c103f6b206b8e5
/Framework3D/source/Core/nodes/nodes/functions/NODES_FILES_DIR.h
/Framework3D/source/Core/RHI/source/nvrtc_config.h
